@media (max-width: 736px) {
  .profile__info {
    flex-wrap: nowrap;
    align-items: center;
  }
  .profile__button-add {
    width: 100%;
    margin-top: 30px;
  }
}

/* Ventana 576px */
@media (max-width: 576px) {
  .header__menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    position: absolute;
    z-index: 100;
  }

  .header {
    margin-top: 28px;
    /* Esta propiedad es CLAVE para que el menú pueda empujar si el header es flex */
    flex-wrap: wrap;
  }

  .header__burger {
    display: flex;
    z-index: 10;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    /* Propiedades visuales cuando se abra */
    background-color: #000;
    width: 100%;
    padding: 0; /* Padding cero cuando está cerrado */
  }

  .header__nav-open {
    width: 100%;
    max-height: 500px; /* Suficientemente grande para todo el contenido */
    padding: 40px 0; /* Aplicamos el padding cuando está abierto */
    /* Si tienes la línea divisoria inferior en el menú desplegado, mantenla: */
    border-bottom: 1px solid #545454;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile {
    display: block;
  }

  .profile__avatar {
    margin: 40px auto 0;
  }
  .profile__info {
    margin-left: 0;
    align-items: center;
  }

  .profile__info-name {
    gap: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
  }

  .popup__button-close {
    justify-self: anchor-center;
  }
}

/* Ventana 405px */
@media (max-width: 405px) {
  .main__page {
    margin: 0 auto 50px;
  }

  .header {
    margin-top: 28px;
    padding-left: 27px;
  }
  .hearder__image {
    margin-bottom: 32px;
    width: 126px;
    height: 24px;
  }

  .profile__name {
    font-size: 22px;
  }
  .profile__about-me {
    font-size: 14px;
    margin-bottom: 36px;
    max-width: 200px;
  }

  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
  }

  .profile__button-add {
    margin: 0;
  }

  .elements {
    margin-top: 36px;
  }

  .popup__button-close {
  }

  .card-popup__image {
    max-width: 240px;
  }

  .footer {
    padding-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
